PAYLOAD_SECRET=your_payload_secret_key_here
DATABASE_URL=file:./pawsandtails.db

# Aiven MySQL Database
AIVEN_MYSQL_HOST=mysql-4a1e757-adalavalust.k.aivencloud.com
AIVEN_MYSQL_PORT=19703
AIVEN_MYSQL_USER=avnadmin
AIVEN_MYSQL_PASSWORD=your_aiven_password_here
AIVEN_MYSQL_DATABASE=cmspawsandtails
AIVEN_MYSQL_CA_PATH=./ca.pem
